body {
    background-color:#1c1c1c;
    margin:30px;
    font-family:"Noto Sans";
    color:white;
}

.sakriyovo {
    display:none;
}

.emotepicker-tabbar {
    display:inline-block;
}

.emotepicker-textbox {
    background-color:black;
    font-size:25px;
    color:white;
    border:solid 2px gray;
    margin:10px 10px 10px 10px;
    width:calc(100% - 30px);
    border-radius:8px;
}

.emotepicker-tab {
    width:200px;
    height:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#3c3c3c;
    border-radius:8px;
    margin:8px;
    float:left;
    cursor:pointer;
}

.emotepicker-tab-selected {
      background-color:#818181;
}

.emotepicker-tab-iconcont {
    width:65px;
    height:65px;
}

.emotepicker-tab-iconcont img {
    width:100%;
    height:100%;
    object-fit:contain;
}

.emotepicker-content-cont {
    background-color:black;
    width:100%;
    display:inline-block;
}

.emotepicker-content-cont img {
    float:left;
    cursor:pointer;
    border-radius:10px;
    margin:8px;
}
